<%#= @coupon.id %>
<%#= @coupon.place_id %>

<div class="container">
	<div class="row couponcenter">
			<div class="col-xs-6 col-xs-offset-4 super">
				<div class="underline">○○スーパー</div>
				<div>レジご提示にて</div>
				<div>税込価格から全品</div>
				<span class="discount">20</span><span class="percent">％OFF</span>
			</span>
	</div>
</div>