<div class="container margin-top60 backgroundcolor">
  <div class="row">
  	<h3><strong>有名スポット一覧</strong></h3>
  </div>

  <div class="row main">
  		<% @places.each do |place| %>
  		<div class="col-xs-3">
  			<table>
  				<tr>
  					<td><%= link_to place.placename, admin_place_path(place) %></td>
  				</tr>
  				<tr>
					<td><%= attachment_image_tag place, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x150" %></td>
  				</tr>
  				<tr>
  					<td>エリア　<%= place.area %></td>
  				</tr>
  			</table>
  		</div>
  		<% end %>

</div>




