<div class="container margin-top60">

  <div class="row" align="center">
  	<h3><strong>有名スポット</strong></h3>
  </div>

  <div class="row main backgroundcolor">
  	<table>
  		<tr>
  			<td>
  				<% @places.select(:id, :area).distinct.each do |place| %>
  					<%= link_to place.area, admin_places_searcharea_path(place) %>
  				<% end %>
  			</td>
  		</tr>
  	</table>
  </div>

</div>