<body class="about1">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 about2">
				<h3 class="lineheight">
					本WEBサイトは伊豆のホタルスポットを紹介するサイトとなります。<br>
					有名スポットから穴場スポットまで掲載しております。<br>
					会員登録をしていただきますとあまり知られていない穴場スポットを投稿することでき<br>
					50いいね！を獲得された方には、スーパーのレジにてご利用いただける20%OFFのクーポン券を差し上げます。
				</h3>
			</div>
		</div>
	</div>
</body>