<div class="container">
	<div style: text-center;>
		<h3>ホタル観賞のマナー</h3><br>
		<h4>
			（1）ホタルは強い光を嫌う生き物です。ライトで照らしたり、フラッシュをたくと、草の中に隠れてしまうので注意しましょう。<br>
			（2）大きな声、物音はホタルが逃げるのはもちろん、近隣住民への迷惑にもなります。ゴミの放置もやめましょう。<br>
			（3）ホタルが成虫となって空を飛べるのは、わずか1～2週間です。捕まえて持って帰るのは止めましょう。<br>
			　*マナーを守ってホタル観賞をお楽しみください。
		</h4>	
	</div>
</div>