/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Ma+Shan+Zheng&display=swap');

html{
  height: 100px;
}

body{
	background: image-url('hotaru.jpg');
	background-size: 100%;
	color: white;
  font-family: 'Kosugi Maru', sans-serif;
}

footer {
  background-color: #009966;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

input, option, textarea,select {
  color: black;
}
.white{
  color: white;
}

.login {
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgba(220,220,220, 0.15);
   box-shadow: 0 0 8px gray;
   width: 400px;
   height: 400px;
   margin: auto;
   margin-top: 50px;
}

.signup {
  width: 170px;
  margin: 0 auto;
}

.logincss {
  width: 170px;
  margin-top: 20px;
}

h1.logofront{
	font-family: 'Ma Shan Zheng', cursive;
	float: left;
}
h1.logoback{
	font-family: 'Hi Melody', cursive;
  float: left;
}

.about1{
  
  background: image-url('photo-1589446819574-0c68dfd8b11b.jpeg');
  background-size: cover;
}

.about2{
  margin-top: 7%;
}

.lineheight{
  line-height: 40px;
}

.contentheight{
  line-height: 35px;
}

.navbar{
	backgraound-color: gray;
}

table td {
  padding-right: 10px;
}

table td {
  padding-top: 10px;
}

.youkoso {
  display: inline-block;
  float: right;
}


.nav-menu {
  margin-left: 30px;
  border: 1px solid yellow;
  border-radius: 4px;
  padding: 10px;
}

.backgroundcolor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	background-color: rgba(220,220,220, 0.15);
  color: white;
  height: 100%;
  margin-bottom: 50px;
}

.backgroundcolor1{
  background-color: rgba(220,220,220, 0.15);
  color: white;
  padding: 50px 0;
  height: 400px;
  margin-bottom: 50px;
}

.margin-left30{
	margin-left: 30px;
}

.margin-right30{
	margin-right: 30px;
}

.margin-top10{
  margin-top: 10px;
}
.margin-top30{
	margin-top: 30px;
}

.margin-top60{
	margin-top: 60px;
}
.margin-top100{
  margin-top: 100px;
}
.margin-bottom30{
  margin-bottom: 30px;
}

.padding-bottom30{
  padding-bottom: 30px;
}

.padding-top30{
  padding-top: 30px;
}
.padding-right30{
	padding-right: 30px;
}

.padding-right60{
	padding-right: 60px;
}

.padding-left5{
  padding-left: 5px;
}
.padding-left50{
  padding-left: 50px;
}

.text-align-center{
	text-align: center;
}

 body {
     a:link {color:white; text-decoration:none }
     a:visited { color:white; text-decoration:none }
     a:hover { color:white; text-decoration:none }
     a:active { color:white; text-decoration:none }
 }

 .index {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 
.map {
     a:link {color:black; text-decoration:none }
     a:visited { color:black; text-decoration:none }
     a:hover { color:black; text-decoration:none }
     a:active { color:black; text-decoration:none }
 }

p.comment{
  font-size: 1.5em;
}

.skyblue{
  font-size: 18px;
  background-color: #1da1f2;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
}

.table > tbody > tr > th, .table > tbody > tr > td, {
  vertical-align: middle;
}

.couponcenter{
  text-align: center;
}

.super{
  border: solid 5px;
  width: 400px;
  padding: 10px 30px;
  margin-top: 50px;
  font-size: x-large;
}

.underline{
  border-bottom: solid 3px yellow;  
}

.discount{
  color:#99FF00;
  font-size: 100px;
}

.percent{
  color:#99FF00;
  font-size: 50px;
}

.moveup img {
  display: block;
  transition: 0.5s;
}
.moveup img:hover {
  transform: scale(1.1, 1.1);
}

.letterspace {
  letter-spacing: 7px;
}

.fontsize{
  font-size: 17px;
}

/*ハンバーガーメニュー*/
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
 
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}
 
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 15px;
}
 
.menu-trigger span:nth-of-type(3) {
  top: 30px;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
 
#sp-menu li{
  text-align: right;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 30px;
  list-style: none;
}
 
#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/*ハンバーガーメニューここまで*/