<div class="contanier-fluid">
  <div class="row">
  	<div class="title col-xs-offset-2 col-xs-8">
      <div class="index-header">
        <h3>会員一覧</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <table class = "table table-inverse">
      	<thead>
	      <tr>
	        <th>会員ID</th>
	      	<th>ユーザー名</th>
	      	<th>メールアドレス</th>
	      	<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @user.each do |user| %>
	      <tr>
	      	<td><%= user.id %></td>
	      	<td><%= user.name %></td>
	      	<td><%= user.email %></td>
	      	<td><%= link_to '削除する', user_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" , style: "color: white;" %></td>
	      </tr>
	      <% end %>
      	</tbody>
      </table>
    </div>
  </div>
</div>